<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AddCourse</title>
</head>
<body>
    <h1>Add a new Course</h1>
    {%if messages%}
        <ul class="messages">
            {%for message in messages%}
                <li {% if message.tags%} class="{{message.tags}}"{% endif %}>{{message}}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="/addcourse" method="POST">
        {% csrf_token %}
        <label>Name:</label>
        <input type="text" name="name">
        <br>
        <label> Description: </label>
        <br>
        <textarea rows="4" cols="20" name="desc"></textarea>
        <br>
        <input type="submit" value= "Add">
    </form>
    <table>
        <thead>
            <th>CourseName</th>
            <th>Description</th>
            <th>DateAdded</th>
            <th>Actions</th>
            <th>Comments</th>
        </thead>
        <tbody>
            {% for course in all_courses%}
            <tr>
                <td>{{course.name}}</td>
                <td>{{course.desc.content}}</td>
                <td>{{course.created_at}}</td>
                <td><a href="/remove/{{course.id}}">remove</a></td>
                <td><a href="/comment/{{course.id}}">AddComments</a></td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>